# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

df1.csv
df2.csv
df3.csv
df4.csv
LICENSE
lifespan.csv
rest_server_new/browse.sh
rest_server_new/install.sh
rest_server_new/migrate.sh
rest_server_new/refresh_db.sh
rest_server_new/requirements.txt
rest_server_new/start_rest_server.sh
rest_server_new/medisch_centrum_randstad/manage.py
rest_server_new/medisch_centrum_randstad/data/data.csv
rest_server_new/medisch_centrum_randstad/medisch_centrum_randstad/__init__.py
rest_server_new/medisch_centrum_randstad/medisch_centrum_randstad/asgi.py
rest_server_new/medisch_centrum_randstad/medisch_centrum_randstad/settings.py
rest_server_new/medisch_centrum_randstad/medisch_centrum_randstad/urls.py
rest_server_new/medisch_centrum_randstad/medisch_centrum_randstad/wsgi.py
rest_server_new/medisch_centrum_randstad/rest_api/__init__.py
rest_server_new/medisch_centrum_randstad/rest_api/admin.py
rest_server_new/medisch_centrum_randstad/rest_api/apps.py
rest_server_new/medisch_centrum_randstad/rest_api/models.py
rest_server_new/medisch_centrum_randstad/rest_api/serializers.py
rest_server_new/medisch_centrum_randstad/rest_api/tests.py
rest_server_new/medisch_centrum_randstad/rest_api/urls.py
rest_server_new/medisch_centrum_randstad/rest_api/views.py
rest_server_new/medisch_centrum_randstad/rest_api/favicon/android-chrome-192x192.png
rest_server_new/medisch_centrum_randstad/rest_api/favicon/android-chrome-512x512.png
rest_server_new/medisch_centrum_randstad/rest_api/favicon/apple-touch-icon.png
rest_server_new/medisch_centrum_randstad/rest_api/favicon/favicon-16x16.png
rest_server_new/medisch_centrum_randstad/rest_api/favicon/favicon-32x32.png
rest_server_new/medisch_centrum_randstad/rest_api/favicon/favicon.ico
rest_server_new/medisch_centrum_randstad/rest_api/favicon/site.webmanifest
rest_server_new/medisch_centrum_randstad/rest_api/management/commands/__init__.py
rest_server_new/medisch_centrum_randstad/rest_api/management/commands/load_data.py
rest_server_new/medisch_centrum_randstad/rest_api/migrations/__init__.py
rest_server_new/medisch_centrum_randstad/rest_api/migrations/0001_initial.py
rest_server_new/medisch_centrum_randstad/rest_api/migrations/0002_alter_netlify_alcohol_alter_netlify_exercise_and_more.py
